.red-text {
    color: red;
}
.blue-text {
    color: blue;
}

.text-overflow{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.div-width {
 width: 500px;
 background-color: yellow;
}

.blue-style {
    font-size: 30px;
}

.red-style {
    font-size: 50px;
}